body{
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration: none;
	color: #7E7E7E;
}
a:hover{
	text-decoration: none;
	color: #CEA679;
}
h1{
	color: #CEA679;
}
.toplink a{
  color: #555555 !important;
  background-color: transparent;
  display: block;
  font-weight: normal !important;
  position: relative;
  /*text-transform: capitalize;*/
  z-index: 10;
  font-size: 13px !important;
}
.toplink a:hover{
  color: #CEA679 !important;
}
.nav a{
	background-color: transparent;
  color: #222222;
  font-size: inherit;
}
nav{
	background-color: rgba(255, 255, 255, 0.9);
  z-index: 9999999;
  border-bottom: 1px solid #e5e5e5;
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: transparent;
}
.main-header{
	border-bottom: 1px solid #E5E5E5;
	background-color: #fff;
}
.usernav {
    top: 35px;
}
.secnav{
	border: 2px solid #9a9a9a;
	border-radius: 50%;
	padding: 5px;
	font-size: 14px;
}
@media (min-width: 768px){
	.navbar-nav {
	    float: left;
	    margin: -10px 0px;
	}
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px solid #000;
}

.slider {
    width: 100%;
    margin: 80px auto;
}

/*.slick-slide {
  margin: 0px 20px;
}*/

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: 1;
}

/*.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}*/
#mainbanner img{
	height: 550px;
	width: 100%;
}
#bannerdots{
	bottom: 10px;
}
header{
	background-color: #fff;
}

.slide2div{
	padding: 10px;
}
/*#multislide img{
	margin: 10px;
	width: 90%;
}*/
#multislide{
	margin: 0px;
}
#prev2{
	color: #999999;
    font-size: 18px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    background: #f1f1f1;
    box-shadow: none;
    border: 0px;
}
#next2{
	color: #999999;
    font-size: 18px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    background: #f1f1f1;
    box-shadow: none;
    border: 0px;
}
#multislide h4{
	text-transform: uppercase;
}
.image-container {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 25px;
    max-width: 100%;
}
/*.image-container .box-hover{
    background: #222222;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    bottom: 0;
    text-align: center;
    z-index: 3;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    transform: perspective(600px) rotateX(90deg);
    -webkit-transform: perspective(600px) rotateX(90deg);
    -moz-transform: perspective(600px) rotateX(90deg);
    -o-transform: perspective(600px) rotateX(90deg);
}
*/
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
	transition: all 0.4s ease-out;
  	opacity: 0;
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	text-align: center;
  	background: #222222;
  	bottom: 0;
  	z-index: 3;
  	-webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
 	/*transform: perspective(600px) rotateX(90deg);
    -webkit-transform: perspective(600px) rotateX(90deg);
    -moz-transform: perspective(600px) rotateX(90deg);
    -o-transform: perspective(600px) rotateX(90deg);*/
}

.image-container:hover .image {
  opacity: 1;
}

.slide2div:hover .middle {
  opacity: 1;
}
.rowlist:hover .middle {
  opacity: 1;
}

.text {
    background-color: #222222;
    color: #FFF !important;
    font-size: 12px;
    font-weight: 600;
    line-height: 45px;
}
.text i{
  font-size: 15px;
}
.text a{
	color: #fff;
	padding: 3px;
}
.text a:hover{
	color: #CEA679;
	padding: 3px;
}
.text p{
  margin: 0;
}
#home-bg{
	background-color: #f8f8f8;
}
.countdown-slider{
	height: 750px;
	width: 100%;
	margin: 0px auto;
}
.countdown-slider .product-item-name {
    padding: 130px 0 0;
    line-height: inherit !important;
}
.countdown-slider .product-item-name .group-title1 span {
    font-size: 60px;
    font-weight: 300;
    display: inline-block;
    text-align: center;
}
.group-title1 span {
    color: #cea679;
}
.countdown-slider .item-content .product-item-name .group-title1 span:last-child{
	font-weight: bold;
    color: #222222;
    padding-left: 20px;
}
.countdown-slider .short-description{
	padding: 30px 0 40px;
    font-size: 16px;
    color: #656565;
    line-height: 25px;
}

.linkcounter{
	font-size: 18px;
  font-weight: 600;
  color: #222222;
  text-decoration: underline;
  margin: 40px 0;
  display: block;
}
.linkcounter:hover{
    color: #cea679;
}
#prev3{
  color: #999999;
    font-size: 18px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    background: #f1f1f1;
    box-shadow: none;
    border: 0px;
}
#next3{
  color: #999999;
    font-size: 18px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    background: #f1f1f1;
    box-shadow: none;
    border: 0px;
}
#multislide1{
  margin: 0px;
}
.sectionspace{
  margin: 40px 0px 30px;
}
.checked {
    color: #CEA679;
}
.price1{
  text-decoration: underline;
  color: #cea679;
}
.price2{
  text-decoration: line-through;
}
.des{
  position: absolute;
  top: 15%;
}
.main-des{
  position: relative;
}
.main-des h3 {
    display: inline-block;
    width: 100%;
    color: #cea679;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}
.main-des h1 span {
    text-transform: uppercase;
    display: block;
    color: #777777;
    font-size: 60px;
    font-weight: 300;
    -webkit-animation: bounceInLeft 1500ms ease-in-out;
    -moz-animation: bounceInLeft 1500ms ease-in-out;
    -ms-animation: bounceInLeft 1500ms ease-in-out;
    animation: bounceInLeft 1500ms ease-in-out;
}
.main-des h1 span:last-child {
    color: #222222;
    font-weight: 900;
    -webkit-animation: bounceInLeft 1500ms ease-in-out;
    -moz-animation: bounceInLeft 1500ms ease-in-out;
    -ms-animation: bounceInLeft 1500ms ease-in-out;
    animation: bounceInLeft 1500ms ease-in-out;
}
.main-des a {
    color: #222222;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin: 0px 0;
    text-decoration: underline;
}
#multislide2{
  margin: 0px;
}
#prev4{
  color: #999999;
    font-size: 18px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    background: #f1f1f1;
    box-shadow: none;
    border: 0px;
}
#next4{
  color: #999999;
    font-size: 18px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    background: #f1f1f1;
    box-shadow: none;
    border: 0px;
}
.link{
  color: #222222;
  font-size: 16px;
  font-weight: 600 !important;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 18px;
  /*letter-spacing: 0.1em;*/
}
#bgsubscribe {
    background: url(../images/bgsubscribe.jpg) no-repeat center center;
}
.block-newsletter {
    text-align: center;
    width: auto;
    margin: 0;
    padding: 65px 0;
}
.control input {
    background: transparent;
    color: #fefefe;
    display: block;
    padding: 0 35.5% 0 10px;
    font-size: 15px;
    line-height: 68px;
    border: 1px solid #ffffff;
    width: 100%;
}
.control {
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.actions {
    position: absolute;
    top: 1px;
    right: 0;
    width: auto;
}
.actions {
    background: #fff;
    color: #222222;
    font-weight: 900;
    font-size: 14px;
    padding: 7px 50px;
    border-radius: 0px;
    margin: 15px 10px 10px 0px;
}
.block-newsletter h3 {
    font-size: 34px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}
.discount{
  color: #CEA679; 
  font-weight: 600;
}
.block-newsletter p {
    padding: 22px 0 38px;
    font-size: 14px;
    color: #fff;
    line-height: 24px;
    font-weight: 500;
}
.blog-slider {
    padding: 40px 0 40px;
    background: #f1f1f1;
}
.block-newsletter ::placeholder{
  color: #fff;
}
.group-title1 {
    text-align: center;
    /*margin-bottom: 45px;*/
    position: relative;
    z-index: 1;
    font-family: open sans, sans-serif;
}
.bannercontent {
    position: absolute;
    /*left: 48%;*/
    top: 25%;
    background: none;
    color: #fff;
    font-size: 16px;
    /*margin-top: -145px;*/
    /*margin-left: -510px;*/
    z-index: 999;
    text-align: center;
    font-family: open sans, sans-serif;
}
.bannerimg{
  position: relative;
}
.banner-title1 {
    color: #cea679;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 30px;
    -webkit-animation: bounceInLeft 1500ms ease-in-out;
    -moz-animation: bounceInLeft 1500ms ease-in-out;
    -ms-animation: bounceInLeft 1500ms ease-in-out;
    animation: bounceInLeft 1500ms ease-in-out;
}
.banner-title2{
    color: #777777;
    font-size: 60px;
    margin-bottom: 0px;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-animation: bounceInLeft 1800ms ease-in-out;
    -moz-animation: bounceInLeft 1800ms ease-in-out;
    -ms-animation: bounceInLeft 1800ms ease-in-out;
    animation: bounceInLeft 1800ms ease-in-out;
}
.banner-title3 {
    color: #222222;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-animation: bounceInLeft 2200ms ease-in-out;
    -moz-animation: bounceInLeft 2200ms ease-in-out;
    -ms-animation: bounceInLeft 2200ms ease-in-out;
    animation: bounceIbounceInLeftnDown 2200ms ease-in-out;
}
.bannerlink {
    color: #222222;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin: 35px 0 0;
    border-radius: 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-animation: bounceInLeft 2500ms ease-in-out;
    -moz-animation: bounceInLeft 2500ms ease-in-out;
    -ms-animation: bounceInLeft 2500ms ease-in-out;
    animation: bounceInLeft 2500ms ease-in-out;
}
.bannerlink:hover {
    color: #CEA679;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    margin: 35px 0 0;
    border-radius: 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -webkit-animation: bounceInLeft 2500ms ease-in-out;
    -moz-animation: bounceInLeft 2500ms ease-in-out;
    -ms-animation: bounceInLeft 2500ms ease-in-out;
    animation: bounceInLeft 2500ms ease-in-out;
}
.blog-title1 {
    text-align: left;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    font-family: open sans, sans-serif;
}
.blog-title1 h2 {
    display: inline-block;
    color: #222222;
    font-size: 20px;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    padding: 10px;
}
#prevblog{
  color: #999999;
  font-size: 18px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  box-shadow: none;
  border: 0px;
  background-color: transparent;
}
#nextblog{
  color: #999999;
  font-size: 18px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  box-shadow: none;
  border: 0px;
  background-color: transparent;
}
#prevblog:hover, #prevblog:focus{
  color: #CEA679;
  font-size: 18px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  box-shadow: none;
  border: 0px;
  background-color: transparent;
}
#nextblog:hover, #nextblog:focus{
  color: #CEA679;
  font-size: 18px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  box-shadow: none;
  border: 0px;
  background-color: transparent;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
#blogslider1{
  margin-top: 0px;
  margin-bottom: 0px;
}
.blog-content {
    padding: 10px 18px;
    text-align: left;
}
.blog-content {
    font-weight: 600;
    text-transform: uppercase;
    /*position: relative;*/
}
.blog-content h3 {
    color: #000;
    font-size: 16px;
    line-height: 28px;
    position: relative;
}
.blog-content h3:hover {
    color: #CEA679;
    font-size: 16px;
    line-height: 28px;
}

.blog-content p{
    padding: 15px 0 15px;
    margin: 0;
    line-height: 20px;
    color: #656565;
    font-size: 14px;
}
.time-conment {
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 400;
    color: #767676;
    display: block;
    margin: 8px 0 0;
}
.blog-content a{
    color: #cea679;
    background: none;
    line-height: inherit;
    display: block;
    padding: 0;
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}
.blog-content a:hover{
  text-decoration: underline;
}
.calendar{
  font-size: 14px;
  font-weight: 600 !important;
}
.blog-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: block;
  /*height: 226px;*/
}

.blogimg {
  /*position: absolute;*/
  top: 0;
  left: 0;
}

.blogimg img {
    -webkit-transition: all 4s ease;
    -moz-transition: all 4s ease;
    -ms-transition: all 4s ease;
    -o-transition: all 4s ease;
    vertical-align: middle;
    overflow: hidden;
}
.blog-container:hover .blogimg img {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
}

#brand-slider {
    padding: 40px 0;
    background: #fff;
    border-top: 1px solid #e5e5e5;
}
#brandslider1{
  margin-top: 0px;
  margin-bottom: 0px;
}
.box-static {
    float: left;
    width: 33.333%;
}
.mainbox{
  position: relative;
  overflow: hidden;
  text-align: center;
}
.topbox{
  position: relative;
}
.desbox{
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  opacity: 0;
}
.desbox h3 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}
.desbox a {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 10px;
    letter-spacing: 1px;
    min-width: 127px;
    border: 1px solid #fff;
    text-transform: uppercase;
    display: inline-block;
    margin: 24px 0 14px;
}
.desbox h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 400;
    font-family: 'Yesteryear', cursive;
    color: #cea679;
}
.topbox:after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}
.mainbox:hover .topbox:after {
    background: rgba(0, 0, 0, 0.2);
}
.mainbox:hover .desbox {
    opacity: 1;
}
#footerhead{
    background: #222222;
    color: #999999;
}
.footer-main{
  padding: 40px 0 40px;
  color: #999999;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  border-bottom: 1px solid #3b3b3b;
}
.footer-main h2 {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 30px;
}
.footer-main p{
    color: #a3a3a3;
}
.socialweblink ul{
    display: inline-block;
    margin-left: -42px;
}
.socialweblink ul li {
    display: inline-block;
    margin: 10px 18px 0 0;
}    
.socialweblink ul li a{
    font-size: 20px;
    line-height: 25px;
}  
.socialweblink ul li a:hover{
    font-size: 20px;
    color: #fff;
} 

.multilinks ul li a:hover {
    padding-left: 15px;
    color: #ffffff;
}
.multilinks ul li{
  list-style: square;
  margin-left: -25px;
}
.multilinks ul li a{
    color: #999999;
    display: inherit;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    line-height: 25px;
}
.addressfooter ul li{
  list-style: none;
  margin-left: -40px;
}
.addicon{
  font-size: 15px;
  /*padding-right: 15px;*/
  line-height: 25px;
  display: inline-block;
}
.adddetails{
    display: inline-block;
    font-size: 13px;
    line-height: 25px;
  padding-left: 15px;
}
.footer-cpoyright{
  text-align: left;
  margin-bottom: 15px;
}
.copyright {
    color: #999999;
    background: none;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    padding: 0;
    clear: both;
}
.footerlogo{
  text-align: right;
}
#footer-bottom{
  /*border-top: 1px solid #999999;*/
  padding: 20px 0px;
}
#block-static{
  margin: 0;
  overflow: hidden;
}

#mainbannercontrols {
    background: none;
    font-size: 24px;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    right: -20px;
    text-transform: capitalize;
    color: #999999;
    opacity: 1;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
#mainprev {
    margin-top: -62px;
    display: inline-block;
}
#mainnext {
    right: 15px;
    margin: 15px 5px;
    display: inline-block;
}
#mainbannercontrols div {
    cursor: pointer;
}
#navbarCollapse a{
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    color: #222222;
    font-family: open sans, sans-serif;
    font-weight: 600;
    line-height: 14px;
}
#navbarCollapse a:hover{
    padding: 15px 20px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    color: #CEA679;
    font-family: open sans, sans-serif;
    font-weight: 600;
    line-height: 14px;
}
.top-link {
    position: relative;
    z-index: 101;
    line-height: 40px;
    border-bottom: 1px solid #e5e5e5;
}
.modalhome{
    /*width: 790px;
    height: 390px;*/
    z-index: 9999;
    display: block;
    opacity: 1;
    top: 20%;
}
.modalhome .title {
    font-size: 36px;
    font-weight: 600;
    margin-top: 60px;
    text-transform: uppercase;
    line-height: 30px;
    margin-bottom: 0;
    color: #000;
}
.modalhome p{
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #7d7d7d;
    margin: 15px 0;
    white-space: pre-line;
    padding: 0;
    vertical-align: top;
    border-radius: 0;
    display: block;
}
.modalhome input{
    margin: 0 0 20px;
    width: 380px;
    height: 41px;
    line-height: 40px;
    padding: 0 10px;
    border: 0;
    background: #ebebeb;
    color: #333;
}
.modalhome .btn-action{
    line-height: 34px;
    padding: 0 25px;
    display: block;
    text-transform: uppercase;
    color: #fff;
    background: #252525;
    font-size: 11px;
    font-weight: 700;
    border: 0;
    text-align: center;
    white-space: nowrap;
    margin: 10px auto;

}
.modalhome .btn-action:hover{
    line-height: 34px;
    padding: 0 25px;
    display: block;
    text-transform: uppercase;
    color: #fff;
    background: #CEA679;
    font-size: 11px;
    font-weight: 700;
    border: 0;
    text-align: center;
    white-space: nowrap;
    margin: 10px auto;
}
.btn-modalclose{
    z-index: 9999;
    position: absolute;
    right: 0;
    border-radius: 0;
    top: -33px;
    background-color: #444444;
    color: #fff;
    border: 1px solid #fff;
}
.btn-modalclose:hover{
    z-index: 9999;
    position: absolute;
    right: 0;
    border-radius: 0;
    top: -33px;
    background-color: #444444;
    color: #fff;
    border: 1px solid #fff;
}
.usermodal{
  border-radius: 0;
}
.group-feature span {
    color: #cea679;
    font-size: 24px;
    font-weight: 400;
    display: block;
}
.group-feature h2{
  font-weight: 900;
  font-size: 40px;
  word-break: break-word;
  color: #cea679;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  margin: 0px;
}
.page-main{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.demo-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background-color: #212121;
  text-align: center;
}

.demo-footer > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

#toTop {
    background: #cea679;
    bottom: 35px;
    display: none;
    height: 60px;
    position: fixed;
    right: 12px;
    width: 60px;
    line-height: 60px;
    z-index: 9999;
    cursor: pointer;
    border: 0;
    border-radius: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
}

ul li ul.dropdown{
    min-width: 100%; /* Set width of the dropdown */
    background: #fff;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    height: 400px;
    width: 800px;
    padding: 10px;
    right: 5px;
    transition: top 0.8s ease;
}
ul li:hover ul.dropdown{
    display: block; /* Display the dropdown */
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.6);
    transition: top 0.8s ease;
}
ul li ul.dropdown li{
    display: block;
}
.dropdownheading{
  font-weight: 900 !important;
  padding: 15px 20px !important;
  text-decoration: none !important;
  display: block !important;
  text-transform: uppercase !important;
  font-size: 12px !important;
  color: #222222 !important;
  font-family: open sans, sans-serif !important;
  line-height: 14px !important;
}
.anotherul li a{
  padding: 10px 20px !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  text-transform: uppercase !important; 
  line-height: 12px !important;
}
.anotherul{
  padding-left: 0;
}
.centernav{
  margin: 15px auto;
  margin-left: 25%;
}
.navbar-collapse.in{
  overflow-y: scroll;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 600px;
    height: 600px;
}

#main-content {
    margin-top: 80px;
}
.product-title{
  color: #222222;
  margin: 0;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
}
#productdetailslider{
  margin: 90px 0px 10px !important;
}
.detailproduct{
    margin: 90px 0px !important;
}
.navbar-fixed-top {
    border-bottom: 1px solid #e5e5e5;
}
.page-title-wrapper {
    margin: 0 0 18px;
}
.reviews-actions {
    font-size: 13px;
    line-height: 1.25;
    text-transform: capitalize;
    margin: 0 0 0 30px;
    display: inline-block;
    vertical-align: middle;
    color: #aaaaaa;
    border-right: 1px solid #aaaaaa;
    padding-right: 20px;
}
.reviews-actions:hover {
    color: #CEA679;
    border-right: 1px solid #CEA679;
}
.reviews-available {
    font-size: 13px;
    line-height: 1.25;
    text-transform: capitalize;
    margin: 0 0 0 20px;
    display: inline-block;
    vertical-align: middle;
    color: #aaaaaa;
}
.product-info-stock-sku {
    font-weight: normal;
    color: #fe6d4c;
    margin: 0px 2px;
}

.product-info-in-stock {
    font-weight: normal;
    color: #13bc13;
    margin: 0px 2px;
}

.product-overview {
    margin: 12px 0 0;
    color: #707070;
    line-height: 24px;
    padding: 25px 0 0px;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
}
.detailproduct .price-box {
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0 30px;
}
.special-price{
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  color: #cea679;
  text-decoration: underline;
}
.old-price{
  color: #767676;
  text-decoration: line-through;
  font-weight: 400;
  font-size: 20px;
  display: inline-block;
  font-weight: 400;
}
.detailproduct .product-add-form {
    float: left;
    margin: 25px 0 30px;
}
 .controls1 {
    display: inline-block;
}
.detailproduct .product-add-form .controls1 input {
    width: 70px !important;
    height: 45px;
    color: #777;
    text-align: center;
    border: 1px solid #e5e5e5
    font-weight: bold;
    font-size: 16px;
    padding: 0 0 0 8px !important;
}
.product-add-form .actionsdetail {
    /*float: left;*/
    display: inline-block;
    margin-left: 10px;
}
.btn-detailcart{
    padding: 0 30px;
    font-family: 'open sans', sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    line-height: 42px;
    background: #222222;
    border-radius: 0;
    margin-top: -5px;
}
.btn-detailcart:hover{
    color: #CEA679;
}
.product-social-links {
    float: left;
    margin: 25px 0 30px;
}
.product-social-links .mailto {
    background: #fff;
    border: 1px solid #e5e5e5;
    margin: 0 0px 0px 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #222222;
    font-size: 16px;
}
.product-social-links .mailto:hover {
    background: #222222;
    border: 1px solid #e5e5e5;
    margin: 0 0px 0px 10px;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ffffff;
    font-size: 16px;
}
.nav-pills li a {
    height: auto;
    line-height: 50px;
    padding: 0 40px !important;
    border: 0;
    display: block;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    background: #f0f0f0;
    font-weight: 600;
    color: #222222;
    border-radius: 0px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: #CEA679;
  color: #fff;
}
.secpill{
  margin-left: 10px;
}
.tab-content {
    margin-top: 30px;
    width: 100%;
    padding: 48px 0 45px;
    line-height: 25px;
    border: 1px solid;
    border-color: #e5e5e5;
    border-left: 0;
    border-right: 0;
    min-height: 174px;
}
.tab-pane .description {
    line-height: 23px;
    font-size: 13px;
    color: #999999;
}
.custreview{
  font-weight: 700;
  margin-right: 10px;
}
.customerreview{
  padding: 0px 20px;
  background-color: #cea6790a;
  border: 1px solid #cea6792e;
  margin-bottom: 10px;
}
.relatedtitle h2 {
    display: inline-block;
    color: #222222;
    font-size: 20px;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}
#relatedproduct{
  margin: 75px 0 0;
  clear: both;
}
#prevrelated{
  color: #999999;
    font-size: 18px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    background: #f1f1f1;
    box-shadow: none;
    border: 0px;
}
#nextrelated{
  color: #999999;
    font-size: 18px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    background: #f1f1f1;
    box-shadow: none;
    border: 0px;
}
#relatedslider1{
  margin: 40px auto;
}
.relatedbtn{
    float: right;
    text-align: right;
}
.nav>li {
    position: initial;
    display: block;
}
#multiproduct{
  margin: 0 0 50px 0;
}
#multiproduct img{
  margin: 0 0 0 5px;
  width: 95%;
}
.maincontent {
    margin-top: 80px;
}
.filter-options-title {
    margin: 0;
    padding: 0 0 -10px;
    position: relative;
    display: block;
    font-size: 16px;
    font-family: open sans, sans-serif;
    color: #222222;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 40px;
    /*border-bottom: 1px solid #ededed;*/
}
.mainlisting{
  margin: 80px 0;
}
/*.filter-list {
    list-style: none;
}*/
.filter-option .listarrw{
    margin-right: 10px;
}
.filter-option .listcount{
  float: right;
}
.filter-option hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}
.category-image {
    margin-bottom: 35px !important;
}
.category-title{
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 37px;
  color: #5a5a5a;
}
.sortby{
  float: right;
  text-align: right;
}
.sortby label {
    font-size: 14px;
    color: #4e4e4e;
    font-weight: 400;
    padding: 0 8px 0 0;
    text-transform: uppercase;
}
.sortby select {
    border: 0;
    padding: 4px 10px 5px 10px !important;
    margin: 0;
    height: 35px;
    cursor: pointer;
    color: #908f8f;
    background: #f5f5f5;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
    vertical-align: initial;
}
.rowlist{
  margin: 20px 0; 
}
.countproduct{
  text-align: left;
  margin: 10px 0px;
}
.bold{
  font-weight: bold;
}
.countproduct span{
  font-size: 14px;
    color: #4e4e4e;
    padding: 0 8px 0 0;
    text-transform: uppercase;
}
.btnwidth{
  width: 100%;
  margin: 5px;

}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block;
    background-color: transparent;
    color: #222222 !important;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}
.btn-reserve{
  background-color: #CEA679;
  color: #fff;
  margin: 20px 0px;
}
.login-title{
  font-size: 34px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 30px 0 30px;
  color: #5a5a5a;
}
.login-subtitle{
  font-size: 18px;
  color: #2b2b2b;
  text-transform: uppercase
  font-weight: 500;
}
.loginhr{
  border-top: 1px solid #CEA679;
}
.requiredtext{
  float: right;
  color: red;
}
.red{
  color: red;
}
.field-note{
    box-sizing: border-box;
    margin: 20px 0 29px;
}
.field-lable{
  float: left;
  width: 25%;
  margin: 10px 0px;
}
.userinput{
  border: 1px solid #cea679;
  width: 50%;
  padding: 6px;
}
.divbtn{
  margin-top: 40px;
    margin-bottom: 15%;
    margin-left: 25%;
}
.btn-signbtn{
  border-radius: 0px;
  font-family: 'Open Sans','Open Sans';
  font-weight: 700;
  background-color: #252525;
  color: #fff;
  text-transform: uppercase;
}
.btn-signbtn:hover{
  border-radius: 0px;
  font-family: 'Open Sans','Open Sans';
  font-weight: 700;
  background-color: #CEA679;
  color: #fff;
}
.newdivbtn{
  margin-top: 30px;
    margin-bottom: 15%;
}
.notespan{
  font-size: 11px;
  color: #656565;
}
.field-lablereg{
  float: left;
  width: 30%;
  margin: 10px 0px;
}
.personalform{
  margin: 25px 0px;
}
.divbtnreg{
  margin-top: 40px;
  margin-bottom: 30px;
}
.forgotbtn{
  margin-top: 30px;
    margin-bottom: 15%;
    float: right;
}
.forgotback{
  float: right;
  color: #222222;
}
.forgotback:hover{
  float: right;
  color: #CEA679;
}
.cart-title h2{
  font-size: 40px;
  color: #444444;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
}
.table-wrapper{
  margin-bottom: 20px;
  margin-top: 20px;
}
.product-title-cart{
  display: inline-block;
  margin-top: 13px;
  vertical-align: middle;
  color: #222;
}
.carttable{
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #e5e5e5;
}
.cartimg{
  width: 25%;
  position: relative;
  margin: 10px;
}
.cart-title1{
  color: #222222;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}
.cart-title:hover{
  color: #cea679;
  font-weight: 600;
  text-transform: uppercase;
}
.itemdetailcart{
  width: 60%;
  text-align: left !important;
}
.table-wrapper th{
    padding: 15px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
}
.table-wrapper td{
  padding: 5px;
  text-align: center;
}
.table-wrapper tr{
  border-top: 1px solid #E5E5E5;
}
.item-action{
  border-top: 0px !important;
}
.item-action td{
  text-align: left;
  padding: 10px;
}
.summary{
  border: 1px solid #CEA679;
  margin-bottom: 25px;
  padding: 10px 15px 25px;
}
.summary-title{
    font-size: 2rem;
    margin-top: 0.8rem;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 1rem;
}
.rightsummary{
  float: right;
}
.leftsummary{
  float: left;
}
#discount-code{
  display: none;
}
.cartbtn1{
  margin: 20px auto 40px;
}


#regFormcheckout {
  background-color: #ffffff;
  /*margin: 100px auto;*/
  /*font-family: Raleway;*/
  padding: 40px;
  /*width: 70%;
  min-width: 300px;*/
}


.checkoutinput {
  /*padding: 5px;
  width: 100%;
  font-size: 14px;*/
 /* font-family: Raleway;
  border: 1px solid #aaaaaa;*/
}

/* Mark input boxes that gets an error on validation: */
.checkoutinput.invalid {
  background-color: #ffdddd;
  /*border: 1px solid #cea679;*/
  width: 50%;
  padding: 6px;
}

/* Hide all steps by default: */
.tabcheck {
  display: none;
}


#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.stepprogress {
  /*height: 3px;*/
  width: 150px;
  margin: 0 -2px;
  background-color: #bbbbbb;
  border: 3px solid #e4e4e4;  
  border-radius: 5px 0px 0 5px;
  display: inline-block;
  opacity: 0.5;
}

.stepprogress.active {
  opacity: 1;
  border: 3px solid #CEA679;
}

/* Mark the steps that are finished and valid: */
.stepprogress.finish {
  background-color: #4CAF50;
}
.checkoutsignin{
  float: right;
  margin: 20px;
}
.checksignbtn{
    text-align: center;
    color: #7e7e7e;
    margin-bottom: 0px;
}
.checkoutform{
    background: #f5f5f5;
    padding: 20px;
}
.step-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 20px;
}
.field-lablecheckout{
  float: left;
  width: 18%;
  margin: 10px 0px;
}
.field-lablecheckout label{
  font-size: 14px;
  font-weight: 300;
}
.billing-address-details {
    line-height: 27px;
    padding: 0 0 0 23px;
}
.billing-address-details p{
  margin-bottom: 0px;
  font-size: 13px;
}
.ordersummary{
  background: #f5f5f5;
  padding: 20px;
}
.checkouttotal{
  float: right;
  font-size: 1.8rem;
  line-height: 1;
}
.cartcheckout{
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 20px;
}
#shipping-cart{
  display: none;
}
.checkoutimg{
  float: left;
  margin: 0px 0px -20px -15px;
  width: 22%;
}
.shipto{
    padding-bottom: 10px;
    color: #333;
    font-weight: 300;
    border-bottom: 1px solid #ccc;
    margin: 0 0 20px;
    font-size: 20px;
    line-height: normal;
}
.checkshiping{
  margin: 40px 0px 20px;
}
.shipping-address-details {
    line-height: 27px;
}
.shipping-address-details p{
  margin-bottom: 0px;
  font-size: 13px;
}
.successdiv{
  margin: 30px 0px;
}
#spngmethod th{
  width: 20%;
}
#spngmethod td{
  padding: 5px;
}
.cartheader {
    /*float: left;*/
    overflow: hidden;
}

.dropdown .cartbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-cart {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 20px;
    right: 6%;
    width: 280px;
}

.dropdown-cart a {
    float: none;
    color: black;
    padding: 10px 0px 25px !important;
    text-decoration: none;
    display: block;
    text-align: left;
}

.cartheader:hover .dropdown-cart {
    display: block;
}
.btn-checkobtn{
  background-color: #CEA679;
  color: #fff;
  padding: 8px 10px;
  text-transform: uppercase;
  border-radius: 0px;
  width: 100%;
}
.btn-checkobtn:hover{
  background-color: #CEA679;
  color: #fff;
  padding: 8px 10px;
  text-transform: uppercase;
  border-radius: 0px;
  width: 100%;
}
.minicart-items-wrapper {
    border-top: 1px solid #cea679;
    margin: 0;
    display: block;
    float: left;
    padding: 10px 0px;
    min-height: 115px !important;
    max-height: 115px !important;
    border-bottom: 1px solid #cea679;
    overflow-x: auto;
}
.mini-cart-title{
    font-size: 13px;
    padding: 5px 0px 0px;
    word-break: break-all;
}
.mini-cart-title a{
  padding: 0px !important;
}
.minicart-img{
  width: 35%;
  border: 1px solid #cea679;
  margin: 0px 25px 0px 0px;
  float: left;
}
.minicart-items-wrapper hr{
  border-bottom: 1px solid #CEA679;
}
.btn-minicartbtn{
  width: 100%;
  background-color: transparent;
  border: 1px solid #000;
  padding: 8px 10px;
  text-transform: uppercase;
  border-radius: 0px;
  color: #000;
  margin: 20px 0px 0px;
}
.btn-minicartbtn:hover{
  width: 100%;
  background-color: transparent;
  color: #CEA679;
  border: 1px solid #CEA679;
  padding: 8px 10px;
  text-transform: uppercase;
  border-radius: 0px;
  margin: 20px 0px 0px;
}
.logindropdown {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    color: #555555;
    margin-right: 15px;
    font-size: 13px !important;
    font-weight: normal !important;
}
.logindropdown:hover {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    color: #CEA679;
}
.logindropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
    padding: 5px 5px 0px 5px;
    right: 5px;
    /*margin-top: 5px;*/
}
.logindropdown-content a {
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #e5e5e5;
}
.logindropdown:hover .logindropdown-content {
    display: block;
}

.logindropdown:hover .loginbtndrp {
    color: #CEA679;
}

.remove-item{
  text-align: right;
  padding: 0;
  font-size: 14px;
  font-weight: 200;
}
.compare-table thead tr td{
  padding: 20px;
}
.compare-table thead{
  border-bottom: 1px solid #DDDDDD;
}
.compare-table{
  width: 100%;
  margin: 20px 0px 80px;
}
.productcompare{
  border-bottom: 1px solid #DDDDDD;
}
.productcompare td{
  border-left: 1px solid #DDDDDD;
  padding: 10px;
}
.detailcompare{
  border-bottom: 1px solid #DDDDDD;
}
.detailcompare td{
  border-left: 1px solid #DDDDDD;
  padding: 10px;
}
.productcompare th{
  text-align: left;
  vertical-align: top;
  padding: 10px;
  font-weight: 200;
}
.detailcompare th{
  text-align: left;
  vertical-align: top;
  padding: 10px;
  font-weight: 200;
}
.imgcompare{
  width: 50%;
}