.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
@media only screen and (max-width: 767px){
	.navbar-brand {
	    float: left;
	    height: 50px;
	    padding: 0px 15px !important;
	    font-size: 18px;
	    line-height: 20px;
	}
	.usernav {
	    top: 100px;
	}
	.slider {
	    width: 100%;
	    margin: 55px auto;
	}
	.banner-title1 {
	    color: #cea679;
	    font-size: 14px;
	    font-weight: bold;
	    font-style: italic;
	    margin-bottom: 10px;
	}
	#mainbanner img{
		height: 100%;
		width: 100%;
	}
	.bannercontent {
	    position: absolute;
	    /*left: 30%;*/
	    top: 0;
	    background: none;
	    color: #fff;
	    font-size: 16px;
	    /* margin-top: -145px; */
	    /* margin-left: -510px; */
	    z-index: 999;
	    text-align: center;
	    font-family: open sans, sans-serif;
	}
	.banner-title2{
		font-size: 20px;
		margin: 2px;
	}
	.banner-title3{
		font-size: 20px;
		margin: 2px;
	}
	.bannerlink{
		font-size: 13px;
		margin: 0;
	}
	.countdown-slider .product-item-name {
	    padding: 15px 0 0;
	    line-height: inherit !important;
	}
	.group-title1 {
	    text-align: center;
	    margin-bottom: 0px;
	    position: relative;
	    z-index: 1;
	    font-family: open sans, sans-serif;
	}
	.page-main{
	  width: 100%;
	  padding-left: 15px !important;
	  padding-right: 15px !important;
	}
	.countdown-slider .product-item-name .group-title1 span {
	    font-size: 30px;
	    font-weight: 300;
	    display: inline-block;
	    text-align: center;
	}
	.countdown-slider .short-description {
	    padding: 25px 0 20px;
	    font-size: 14px;
	    color: #222;
	    line-height: 25px;
	}
	.countdown-slider {
	    height: 650px;
	}
	.slide2div {
	    padding: 10px 0px;
	}
	.main-des h3 {
	    display: inline-block;
	    width: 100%;
	    color: #cea679;
	    font-size: 10px;
	    font-weight: bold;
	    font-style: italic;
	    margin: 0px;
	}
	.main-des h1 span {
	    text-transform: uppercase;
	    display: block;
	    color: #777777;
	    font-size: 14px;
	    font-weight: 300;
	    margin: 0px;
	    -webkit-animation: bounceInLeft 1500ms ease-in-out;
	    -moz-animation: bounceInLeft 1500ms ease-in-out;
	    -ms-animation: bounceInLeft 1500ms ease-in-out;
	    animation: bounceInLeft 1500ms ease-in-out;
	}
	.main-des h1{
		margin: 0;
	}
	.main-des a {
	    color: #222222;
	    font-size: 14px;
	    font-weight: 600;
	    display: inline-block;
	    margin: 0px 0;
	    text-decoration: underline;
	}
	.linkcounter {
	    font-size: 10px;
	    font-weight: 600;
	    color: #222222;
	    text-decoration: underline;
	    margin: 0px 0;
	    display: block;
	}
	.actions {
	    position: relative;
	    top: 1px;
	    right: 0;
	    width: auto;
	}
	.block-newsletter {
	    text-align: center;
	    width: auto;
	    margin: 0;
	    padding: 12px 0;
	}
	.box-static {
	    float: left;
	    width: 100%;
	}
	.desbox h3 {
	    font-size: 13px;
	    font-weight: bold;
	    color: #fff;
	    text-transform: uppercase;
	    display: inline-block;
	    width: 100%;
	}
	.desbox a {
	    color: #fff;
	    font-size: 9px;
	    font-weight: bold;
	    padding: 8px 10px;
	    letter-spacing: 1px;
	    min-width: 127px;
	    border: 1px solid #fff;
	    text-transform: uppercase;
	    display: inline-block;
	    margin: 15px 0 14px;
	}
	.desbox h1 {
	    margin: 0;
	    font-size: 30px;
	    font-weight: 400;
	    font-family: 'Yesteryear', cursive;
	    color: #cea679;
	}
	.footer-main h2 {
	    color: #ffffff;
	    font-size: 16px;
	    text-transform: uppercase;
	    font-weight: 600;
	    margin-bottom: 20px;
	}
	.footer-cpoyright {
	    text-align: center;
	}
	.footerlogo{
	  text-align: center;
	}
	.modalhome input {
	    margin: 0 0 20px;
	    width: 100%;
	    height: 41px;
	    line-height: 40px;
	    padding: 0 10px;
	    border: 0;
	    background: #ebebeb;
	    color: #333;
	}
	.centernav{
	  margin: 15px auto;
	  margin-left: 0;
	}
	ul li ul.dropdown{
	    min-width: 100%; /* Set width of the dropdown */
	    background: #fff;
	    display: none;
	    position: absolute;
	    height: 900px !important;
	    z-index: 999;
	    left: 0;
	    width: 100%;
	    padding: 10px;
	    transition: top 0.8s ease;
	}
	#relatedslider1{
	  margin: 40px 20px !important;
	  width: 90%;
	}
	.nav>li {
	    position: relative !important;
	    display: block;
	}
	.countproduct{
	  text-align: center;
	}
	.sortby{
	  float: none;
	  text-align: center;
	}
	.mainlisting {
	    margin: 20px 0;
	}
	.forgotbtn{
	  margin-top: 30px;
	    margin-bottom: 10px;
	    float: none;
	    text-align: center;
	}
	.forgotback{
	  float: none;
	  text-align: center;
	  color: #222222;
	}
	.forgotback:hover{
	  float: none;
	  text-align: center;
	  color: #cea679;
	}
	.cartbtn{
		margin: 10px;
	}
	.cartbtn1{
		margin: 0 auto !important;
		text-align: center;
	}
	#regFormcheckout {
	    background-color: #ffffff;
	    /* margin: 100px auto; */
	    /* font-family: Raleway; */
	    padding: 0px;
	}
	.userinput {
	    border: 1px solid #cea679;
	    width: 61%;
	    padding: 6px;
	}
	.field-lablecheckout {
	    float: left;
	    width: 39%;
	    margin: 10px 0px;
	}
	.checkoutinput.invalid {
	  background-color: #ffdddd;
	  /*border: 1px solid #cea679;*/
	  width: 61%;
	  padding: 6px;
	}
}
#responsiveheader p {
	padding: 2px 0;
    text-decoration: none;
    display: block;
    font-size: 12px;
    color: #000;
    font-family: open sans, sans-serif;
    font-weight: 600;
    line-height: 14px;
	text-align: center;
	margin: 10px 0;
}
.resicon{
	display: inline-block;
    text-align: center;
    margin: 0px 5px;
}
#responsiveheader{
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
}
.panel-default {
     border-color: transparent; 
}
.panel {
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading {
    padding: 5px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0px solid #ddd;
}
.more-less{
	font-size: 25px;
	color: #fff;
}

@media only screen and (max-width : 767px) {
	
/**nav-expand for footer with head and ul**/
.nav-folderized .ftr__list h6 { cursor: pointer; }
.nav-folderized ul { max-height: 0; overflow:hidden; transition: max-height 1s ease-out; }
.nav-folderized .ftr__list h6:after { content: "+"; float: right; }
.nav-folderized .ftr__list.open h6:after { content: "-"; }
.nav-folderized .ftr__list.open ul { height:auto; max-height: 800px; padding-left: 10px !important;transition: max-height 1s ease-in !important; }
/**nav-expand for footer with head and ul**/
}